﻿/*
Theme Name: Greenigma 
Theme URI: 
Description: Greenigma is a Modern Material Design WordPress Theme. It is a child theme of most famous WordPress theme Enigma. It is intuitive and easy to use, robust and reliable, highly flexible and fully responsive theme. Based on live customizer, the theme allows to preview the changes as you go. It is the perfect theme for the professionals, bloggers, and creative personnel’s website, as it provides a clean and flexible appearance, an elegant portfolio, and a catchy online shop. The theme is translation ready, fully SEO optimized, fast loading and is fully compatible with woo commerce and all other major WordPress plugins.
Author: weblizar
Author URI: http://www.weblizar.com
Template: enigma
Version: 2.5
License: GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tested up to: 5.5
Requires PHP: 7.0
Tags: two-columns, three-columns, custom-menu, right-sidebar, front-page-post-form, custom-background, featured-image-header, sticky-post, theme-options, threaded-comments, featured-images, flexible-header, translation-ready , blog , custom-logo , E-Commerce , footer-widgets , portfolio 
Text Domain: greenigma
*/
@media(min-width:1200px){
.header_search {
    float:right !important;
}
}

/* product template */
.container.product h1 {
    text-align: center;
    padding-bottom: 37px;
}

.gallery img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.col-md-12.col-sm-12.about-men-name {
    text-align: center;
    box-shadow: 0px 0px 22px #1abc9c26;
    border: 1px solid #1abc9c;
}
.container.product {
    padding-bottom: 76px;
}
.about-men-name h3 a {
    color: #666;
}
.about-men-name h3{
    margin-top: 10px !important;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    color: #fff;
    padding: 6px;
    background: #1abc9c;
}
.col-md-12.pro_btn {
    padding: 15px;
}
.presto-product .img-thumbnail {
    padding: 1px !important;
    background-color: #1abc9c !important;
    border: none;
	border-radius: 0px !important;
}
a.added_to_cart.wc-forward {
    background: #1abc9c;
    color: #fff;
    padding: 6px;
}
.fab {
    font-family: "Font Awesome 5 Brands" !important;
}
.enigma_service_iocn i, .enigma_blog_comment i {
    font-family: FontAwesome;
}
.enigma_sidebar_widget ul li a:before, .enigma_footer_widget_column ul li a:before {
    position: absolute;
    content: "\f105";
    left: -24px;
    margin-left: 5px;
    display: block;
    position: absolute;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(50deg);
    height: 6px;
    background: #fff0;
    width: 6px;
    transform: rotate;
    align-items: center;
    display: flex;
}
.far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}
span.nav-previous a, span.nav-next a {
    color: #11aa8c;
    padding: 10px;
}
nav#wblizar_nav {
    display: flex;
}
.nav-next {
     padding-left: 0; 
    width: 50%;
    float: right;
    text-align: right;
}
.reply a > i:before{
content: "\f122";
}


/*----------- Button-bottom-to-top -------------*/
#btn-to-top {
   
   background-color:rgba(26, 188, 156, 0.8) !important;
   
}
.enigma_service_iocn i {
 font-weight: 700 !important;}
.open> .dropdown-menu{display:block;position: absolute;}
.menu-item-has-children i{
    padding-left: 5px;
    padding-top: 3px;
}